@font-face{
    font-family: 'Open Sans', sans-serif;
    src: url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap&subset=cyrillic" rel="stylesheet");
    font-weight: normal;
    font-style: normal;
    }

@font-face{
    font-family: 'gilroyextrabold';
    src: url("../fonts/gilroyextrabold.woff") format("woff"),
    url("../fonts/gilroyextrabold.woff2") format("woff2");
font-weight: normal;
font-style: normal;
}

@font-face{
    font-family: 'gilroylight';
    src: url("../fonts/gilroylight.woff") format("woff"),
    url("../fonts/gilroylight.woff2") format("woff2");
font-weight: normal;
font-style: normal;
}

h1 {
    font-family: 'gilroyextrabold'; 
    font-size: 47px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: 0.5px;
    text-align: left;
    color: #000000;
}

body {
    margin: 0;
    padding: 0;   
}

.client-navigation a {
    font-family: 'gilroyextrabold';
    font-size: 18px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 3.6px;
    text-align: left;
    color: #000000;
    text-transform: uppercase;
}

.client-navigation {
    list-style-type: none;
}

.client-navigation li {
    list-style-type: none;
}

.client-navigation a {
    text-decoration: none; 
    font-family: 'gilroyextrabold';
    }

.client-navigation ul {
    line-height: 100%;
    }

.subnavigation a {
    font-size: 10px;
    color: #000;
    font-weight: lighter;
    }

.subnavigation a { 
    text-decoration: none; 
    font-family: 'Open Sans', sans-serif;;
}

.wrapper-nav li {
    list-style-type: none;
}

.wrapper-nav a {
    text-decoration: none; 
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: 0.2px;
    text-align: left;
    color: #000000;
    border-spacing: 10%;
}

.search a {
    font-family: 'Open Sans', sans-serif;
    opacity: 0.3;
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: 0.2px;
    text-align: left;
    color: rgba(0, 0, 0, 0.3);
}

.user-navigation  a {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: 0.2px;
    text-align: left;
    color: #000000;
}

.user-navigation li  {
    list-style-type: none;
}

.user-navigation a {
    text-decoration: none; 
    font-family: 'Open Sans', sans-serif;
}

.sidebar li {
    list-style-type: none;
}

.sidebar a {
    text-decoration: none; 
    font-family: 'gilroyextrabold';
    font-size: 18px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 3.6px;
    text-align: center;
    color: #000000;
}

.brands li {
    list-style-type: none;
}
.title-up {
    width: 462px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    color: #464646;
  }
  
.text-style-1 {
    font-family: 'gilroyextrabold';
    font-size: 16px;
    font-weight: 800;
    line-height: 2.5;
    color: #000000;
    list-style-type: none;
  }

.about-us {
    font-family: 'gilroyextrabold';
    font-size: 47px;
    font-weight: 800;
    font-style: normal;
    line-height: 1.02;
    letter-spacing: 0.5px;
    color: #000000;
}

.contacts {
    font-family: 'gilroyextrabold';
    font-size: 47px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.02;
    letter-spacing: 0.5px;
    text-align: left;
    color: #000000;
  }

.services li {
    list-style-type: none; 
}

.services a {
    font-family: 'gilroyextrabold';
    text-decoration: none; 
    font-size: 18px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 3.6px;
    text-align: left;
    color:#000000;
}

.to-take {
    width: 511px;
    height: 46px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    color: #464646;
  }

.button-back li {
    list-style-type: none; 
}

.button-back a {
    font-size: 18px;
    font-family: 'gilroyextrabold';
    text-decoration: none; 
    text-transform: uppercase;
    text-decoration: none; 
    color: #000;
  }

.footer-back {
    width: 1440px;
    height: 323px;
    background-color: #464646;
  }

.adress {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    color: #000;
}  

.footer-social li  {
    list-style-type: none; 
    }

.footer-social a {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none; 
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    color: #000;
}

.breadcrumbs {
    display: flex;
    width: 33%;
    justify-content: space-around;
}

.breadcrumbs li {
    list-style-type: none; 
}

.breadcrumbs a {
    opacity: 0.3;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: 0.1px;
    text-align: left;
    color: rgba(0, 0, 0, 0.3);
    text-decoration: none;
}

.breadcrumbs-current {
    opacity: 0.3;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: 0.1px;
    text-align: left;
    color: rgba(0, 0, 0, 0.3);
}

.filter1 {
    height: 11px;
    font-family: 'gilroyextrabold';
    font-size: 16px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 3.2px;
    text-align: left;
    color: var(--black);
}

.color {
    font-family: 'gilroyextrabold';
    font-size: 18px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0.2px;
    text-align: left;
    color: #000000
}

.color-list li {
    list-style-type: none;  
}

.color-list {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.86;
    letter-spacing: 0.1px;
    text-align: left;
    color: #000000
}

.bluetooth {
    font-family: 'gilroyextrabold';
    font-size: 18px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0.2px;
    text-align: left;
    color: #000000;
}

.filter-option li {
    list-style-type: none; 
}

.filter-option {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.86;
    letter-spacing: 0.1px;
    text-align: left;
    color: #000000;
}

.show {
    font-family: 'gilroyextrabold';
    font-size: 18px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 3.6px;
    text-align: center;
    color: #000000;
}

.catalog-list li{
    list-style-type: none; 
}

.catalog-item a {
    font-family: 'gilroyextrabold';
    text-decoration: none; 
    font-size: 18px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0.2px;
    text-align: left;
    color: #000000;
}

.catalog-item-price {
    font-family: 'gilroylight';
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 0.2px;
    text-align: right;
    color: var(--greyish-brown-three);
}

.phone-number {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: right;
    color: #000000;
}

.modal-feedback {
    display: none;
}

.subnavigation {
    display: none;
}

.title-up .title {
    width: 50%;
}

.wrapper {
    display: flex;
    margin: 0;
    padding: 0; 
}

.text-style-1 a {
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
}

.logo {
    width: 100%;
}

.nav1 .nav2 .nav3 .nav4 {
    width: 25%;
    margin-right: 10px;
}

.wrapper-nav {
    display: flex;
    margin: 0;
    padding: 0; 
    justify-content: space-around;
}

.wrapper-nav li {
    width: 25%;
}

.wrapper-nav1 {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    text-decoration: none; 
    font-family: 'gilroyextrabold';
}

.wrapper-nav1 li {
    width: 25%;
}

.brands {
    display: flex;
    justify-content: space-around;
}

.catalog-item {
    width: 16,666%;
}

.catalog-list {
    display: flex;
    justify-content: space-between;
}

.slider-about {
    width: 479px;  
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: 0.2px;
    text-align: left;
    color: #464646;
}

.item-link {
    width: 133px;
    font-family: 'gilroyextrabold';
    font-size: 18px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 3.6px;
    text-align: center;
    color: var(--black);
    text-decoration: none;
}

.item-options {
    width: 79px;
    font-family: 'gilroylight';
    font-size: 36px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0.4px;
    text-align: left;
    color: var(--black);
}

.item-options1 {
    width: 78px;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.54;
    letter-spacing: 0.1px;
    text-align: left;
    color: #464646;
}

.main-slider {
    display: flex;
    justify-content: space-around;
}

.slider .slider-description {
    width: 50%;
}

.delivery-header {
    width: 217px;
    font-family: 'gilroyextrabold';
    font-size: 47px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.02;
    letter-spacing: 0.5px;
    text-align: left;
    color: var(--black);
}

.delivery-how {
    width: 426px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: 0.2px;
    text-align: left;
    color: #464646;
}

.sidebar {
    display: flex;
    justify-content: space-around;
}

.delivery-links .delivery-description {
    width: 50%;
}

.main-footer {
    display: flex;
    justify-content: space-between;
}

.footer-contacts .services .site-navigation {
    width: 33%;
}

.services {
    width: 121px;
    font-family: 'gilroyextrabold';
    font-size: 18px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 3.6px;
    text-align: left;
    color: var(--header-top-text-color);
    text-decoration: none;
    list-style-type: none;
}

.footer-site-navigation a {
    width: 42px;
    opacity: 0.7;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.4;
    letter-spacing: 0.2px;
    text-align: left;
    color:  #464646;
}

.footer-site-navigation li {
    list-style-type: none;
}

.footer-site-navigation a {
    text-decoration: none;
}

.filter {
    display: flex;
    justify-content: space-between;
}

.filters {
    width: 467px;
}

.catalog {
    width: 972px;
}

.bin {
    display: none;
}

.catalog-list {
    flex-wrap: wrap;
}

.services {
    display: flex;
    justify-content: space-around;
}

.services li {
    width: 100%;
}

.service-links {
    display: flex;
    justify-content: space-around;
}

.service-links li {
    width: 100%;
}