@font-face{
    font-family: 'Open Sans', sans-serif;
    src: url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap&subset=cyrillic" rel="stylesheet");
    font-weight: normal;
    font-style: normal;
    }

@font-face{
    font-family: 'gilroyextrabold';
    src: url("../fonts/gilroyextrabold.woff") format("woff"),
    url("../fonts/gilroyextrabold.woff2") format("woff2");
font-weight: normal;
font-style: normal;
}

@font-face{
    font-family: 'gilroylight';
    src: url("../fonts/gilroylight.woff") format("woff"),
    url("../fonts/gilroylight.woff2") format("woff2");
font-weight: normal;
font-style: normal;
}

h1 {
    font-family: 'gilroyextrabold'; 
    font-size: 47px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: 0.5px;
    text-align: left;
    color: #000000;
    z-index: 10;
}

body {
    margin: 0;
    padding: 0;   
}




.client-navigation a {
    font-family: 'gilroyextrabold';
    width: 214px;
    font-size: 18px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 3.6px;
    text-align: left;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none; 
    padding-right: 15px;
    position: relative;
}

.client-navigation {
    list-style-type: none;
    width: 465px;
    
}

.client-navigation li {
    
    list-style-type: none;
}

.client-navigation ul {
    line-height: 100%;
    }

.client-navigation-links::after {
    content: "";

    position: absolute;
    left: 232px;
    top: 3px;
    width: 16px;
    height: 16px;
    object-fit: contain;
    opacity: 0.3;
    

    background-image: url("../img/plus.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.subnavigation {
    display: none;
    background-color: rgba(247, 225, 132, 1);
    min-height: 137px;
    width: 1440px;
    z-index: 5;
    position: absolute;
    padding-left: 0;
}


.client-navigation:hover .subnavigation {
    display: block;
  
}

.subnavigation a {
    font-size: 10px;
    color: #000;
    font-weight: lighter;
    text-decoration: none; 
    font-family: 'Open Sans', sans-serif;
    
    width: 1440px;
    }

.subnavigation-links {
    display: flex;
    justify-content: space-between;
}

.wrapper-nav li {
    list-style-type: none;
}

.wrapper-nav a {
    text-decoration: none; 
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: 0.2px;
    text-align: left;
    color: #000000;
    border-spacing: 10%;
}

.search a {
    font-family: 'Open Sans', sans-serif;
    width: 540px;
    opacity: 0.3;
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: 0.2px;
    text-align: left;
    color: rgba(0, 0, 0, 0.3);
    padding-left: 20px;
}

.search {
    width: 445px;
    position: relative;
    
    
}

.search::before {
    content: "";

    position: absolute;

    width: 16px;
    height: 16px;

    background-image: url("../img/search.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    top: 8px;
    
    object-fit: contain;
}

.login {
    width: 320px;
    position: relative;
}

.login a {
    text-decoration: none; 
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: 0.2px;
    text-align: left;
    color: #000000;
    border-spacing: 10%;
    padding-left: 35px;
}

.login ::before {
    content: "";

    position: absolute;

    width: 13px;
    height: 13px;
    top: 10px;
    left: 5px;

    background-image: url("../img/user.png");
    background-repeat: no-repeat;
    background-position: 0 0;
        
    object-fit: contain;
}

.header-bin a {
    width: 86px;
    text-decoration: none; 
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: 0.2px;
    text-align: left;
    color: #000000;
    border-spacing: 10%;
    padding-left: 25px;
}

.header-bin::before {
    content: "";

    position: absolute;

    width: 13px;
    height: 13px;
    bottom: 8px;

    background-image: url("../img/cart.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    
        
    object-fit: contain;
}

.compare a {
    width: 180px;
    text-decoration: none; 
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: 0.2px;
    text-align: left;
    color: #000000;
    border-spacing: 10%;
    padding-left: 20px;
    }

.compare::before {
    content: "";

    position: absolute;

    width: 13px;
    height: 13px;
    top: 45px;
    

    background-image: url("../img/compare.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    
    object-fit: contain;

}
    

.user-navigation  a {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: 0.2px;
    text-align: left;
    color: #000000;
}

.user-navigation li  {
    list-style-type: none;
}

.user-navigation a {
    text-decoration: none; 
    font-family: 'Open Sans', sans-serif;
}

.sidebar li {
    list-style-type: none;
}

.sidebar a {
    text-decoration: none; 
    font-family: 'gilroyextrabold';
    font-size: 18px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 3.6px;
    text-align: center;
    color: #000000;
}

.brands li {
    list-style-type: none;
    width: 260px;
}
.title-up {
    width: 462px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    color: #464646;
    margin-right: 140px;
}

.title {
    width: 747px;
}
  
.text-style-1 {
    font-family: 'gilroyextrabold';
    font-size: 16px;
    font-weight: 800;
    line-height: 2.5;
    color: #000000;
    list-style-type: circle;
    position: relative;
  }

.about-us-link {
    list-style-type: none;
}  

.text-style-1::before {
    content: "";

    position: absolute;
    left: 5px;
    
 
    width: 9px;
    height: 9px;
    z-index: 15;
    background-image:url("../img/slider-button.png");
    background-repeat:no-repeat;
    background-position:0 0;
    
    object-fit: contain;
}


.about-us {
    font-family: 'gilroyextrabold';
    font-size: 47px;
    font-weight: 800;
    font-style: normal;
    line-height: 1.02;
    letter-spacing: 0.5px;
    color: #000000;
    margin-bottom: 53px;
    position: relative;
}

.about-us::before {
    content: "";

    position: absolute;
    left: 5px;
    top: -60px;
 
    width: 80px;
    height: 7px;
    z-index: 1;
    background-image:url("../img/Layer 6 copy 4.png");
    background-repeat:no-repeat;
    background-position:0 0;
    
    object-fit: contain;
}

.contacts {
    font-family: 'gilroyextrabold';
    font-size: 47px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.02;
    letter-spacing: 0.5px;
    text-align: left;
    color: #000000;
    margin-bottom: 53px;
    position: relative;
  }

.contacts::before {
    content: "";

    position: absolute;
    left: 5px;
    top: -60px;
 
    width: 80px;
    height: 7px;
    z-index: 1;
    background-image:url("../img/Layer 6 copy 4.png");
    background-repeat:no-repeat;
    background-position:0 0;
    
    object-fit: contain;
}

.services li {
    list-style-type: none; 
}

.services a {
    font-family: 'gilroyextrabold';
    text-decoration: none; 
    font-size: 18px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 3.6px;
    text-align: left;
    color:#ffffff;
}

.to-take {
    width: 511px;
    height: 46px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    color: #464646;
    margin-bottom: 45px;
  }

.map {
    margin-bottom: 100px;
}


.modal-map {
    display: none;
    background-position: 0 0;
    background-repeat: repeat;
}

.big-map {
    position: absolute;
    left: 221px;
    top: 1843px;
    width: 999px;
    height: 598px;
    z-index: 16;
   
    
}

.modal-map-close {
    width: 55px;
    height: 55px;
    position: relative;
    border: none;
    left: 550px;
    bottom: 480px;
    right: -120px;
    top: -650px;
    background-image:url("../img/modal-close.png");
    background-color: transparent;
    cursor: pointer;
    z-index: 20;
}


.button-back li {
    list-style-type: none; 
}

.button-back a {
    font-size: 18px;
    font-family: 'gilroyextrabold';
    text-decoration: none; 
    text-transform: uppercase;
    text-decoration: none; 
    color: #000;
  }

.footer-back {
    width: 1440px;
    height: 323px;
    background-color: #464646;
  }

.adress {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}  

.footer-social li  {
    list-style-type: none; 
    }

.footer-social a {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none; 
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    color: #000;
}

.breadcrumbs {
    display: flex;
    width: 33%;
    justify-content: space-around;
}

.breadcrumbs li {
    list-style-type: none; 
}

.breadcrumbs a {
    opacity: 0.3;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: 0.1px;
    text-align: left;
    color: rgba(0, 0, 0, 0.3);
    text-decoration: none;
}

.breadcrumbs-current {
    opacity: 0.3;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: 0.1px;
    text-align: left;
    color: rgba(0, 0, 0, 0.3);
}

.filter1 {
    height: 11px;
    font-family: 'gilroyextrabold';
    font-size: 16px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 3.2px;
    text-align: left;
    color: var(--black);
}

.color {
    font-family: 'gilroyextrabold';
    font-size: 18px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0.2px;
    text-align: left;
    color: #000000
}

.color-list li {
    list-style-type: none;  
}

.color-list {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.86;
    letter-spacing: 0.1px;
    text-align: left;
    color: #000000
}

.bluetooth {
    font-family: 'gilroyextrabold';
    font-size: 18px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0.2px;
    text-align: left;
    color: #000000;
}

.filter-option li {
    list-style-type: none; 
}

.filter-option {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.86;
    letter-spacing: 0.1px;
    text-align: left;
    color: #000000;
}

.show {
    font-family: 'gilroyextrabold';
    font-size: 18px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 3.6px;
    text-align: center;
    color: #000000;
}

.catalog-item  {
    list-style-type: none; 
    width: 360px;
    min-height: 380px;
    margin: 20px;
}

.item-name {
    max-width: 252px;
    display: inline;
    margin-top: 0;
}

.category-list li{
    list-style-type: none; 
}

.catalog-item a {
    font-family: 'gilroyextrabold';
    text-decoration: none; 
    font-size: 18px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0.2px;
    text-align: left;
    color: #000000;
}

.category-item a {
    font-family: 'gilroyextrabold';
    text-decoration: none; 
    font-size: 18px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0.2px;
    text-align: left;
    color: #000000;
}

.catalog-item-price {
    font-family: 'gilroylight';
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 0.2px;
    text-align: right;
    margin-left: 30px;
    color: var(--greyish-brown-three);
}

.name-price {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.phone-number {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: right;
    color: #ffffff;
}

.modal-feedback {
    display: block;
}

.modal-feedback {
    position: absolute;
    left: 221px;
    top: 1048px;
    width: 999px;
    height: 592px;
    z-index: 171;
    background-image: url("../img/Layer 36 copy.png");
}

.feedback-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 960px;
    height: 560px;
}

.feedback-item {
    margin-top: 100px;
    width: 360px;
}

.feedback-item label {
    display: block;
    margin-left: 100px;
    margin-right: 10px;
}

.name {
    font-family: 'gilroyextrabold';
    
}

.name-field {
    width: 360px;
    height: 45px;
    opacity: 1;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: left;
    color: rgba(70, 70, 70, 0.4);
    border: none;
    background: url("../img/Layer 125.png");
    margin-top: 15px;
    margin-left: 100px;
    padding-left: 17px;
}

.mail {
    font-family: 'gilroyextrabold';
    margin-left: 0;
}

.mail-field {
    width: 360px;
    height: 45px;
    opacity: 1;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: left;
    color: rgba(70, 70, 70, 0.4);
    border: none;
    background: url("../img/Layer 125.png");
    padding-left: 17px;
    margin-top: 15px;
}

.send {
    font-family: 'gilroyextrabold';
    margin-left: 150px;
    margin-bottom: 75px;
    margin-top: 50px;
    background: none;
    z-index: 15;
    position: relative;
    border: none;
    outline: none;
}

.send::before {
    content: "";

    position: absolute;
    left: -50px;
    top: 7px; 
    width: 200px;
    height: 8px;
    opacity: 0.7;
    z-index: 5;
    background-image:url("../img/Layer 7 copy 7.png");
    background-repeat:no-repeat;
    background-position:0 0;
    
    object-fit: contain;
}

.feedback-item-text {
    margin-left: 100px;
    margin-top: 10px;
    padding-left: 0;
}



.feedback-item-text label {
    font-family: 'gilroyextrabold';
    display: block;
    margin-top: 0;
}

.feedback-item-text input {
    width: 760px;
    height: 155px;
    font-family: 'Open Sans', sans-serif;
    opacity: 1;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: left;
    padding-left: 17px;
    color: rgba(70, 70, 70, 0.4);
    border: none;
    background: url("../img/letter-background.png");
    margin-top: 15px;
}

.modal-feedback-close {
    width: 55px;
    height: 55px;
    margin-top: 475px;
    border: none;
    
    background-image:url("../img/modal-close.png");
    background-color: transparent;
    cursor: pointer;
    z-index: 20;
}

.wrapper-nav1 .subnavigation:hover {
    display: block;
}

.title-up .title {
    width: 50%;
}

.wrapper {
    display: flex;
    margin: 0;
    padding: 0; 
    opacity: 1;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: 0.15px;
    text-align: left;
}

.text-style-1 a {
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
}

.logo {
    width: 163px;
    min-height: 35px;
    position: absolute;
    top: 20px;
    bottom: 37px;
}

.navigation-delivery {
    width: 160px;
    text-decoration: none; 
    color: #000000;
    text-transform: uppercase;
    font-family: 'gilroyextrabold';
    font-size: 18px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 3.6px;
    text-align: left;
}

.navigation-warranty {
    width: 250px;
    text-decoration: none;
    color: #000000; 
    text-transform: uppercase;
    font-family: 'gilroyextrabold';
    font-size: 18px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 3.6px;
    text-align: left;
}

.navigation-contacts {
    width: 120px;
    text-decoration: none;
    color: #000000; 
    text-transform: uppercase;
    font-family: 'gilroyextrabold';
    font-size: 18px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 3.6px;
    text-align: left;
}


.wrapper-nav {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    padding-top: 34px;
    opacity: 1;
    position: relative;
    
}

.wrapper-nav li {
    opacity: 1;
}

.wrapper-nav1 {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    text-decoration: none; 
    font-family: 'gilroyextrabold';
    padding-left: 0;
    padding-top: 43px;
    opacity: 1;
}

.wrapper-nav1 ul {
    text-decoration: none; 
}

.wrapper-nav1::after {
    content: "";

    position: absolute;
    top: 265px;
    left: 700px;

    width: 100px;
    height: 7px;
    z-index: 3;  
    
    background-image: url("../img/Layer 6.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    
    object-fit: contain;
}

.brands {
    display: flex;
    justify-content: space-around;
    opacity: 0.2;
    margin-top: 100px;
    margin-bottom: 170px;
}

.category-item {
    width: 160px;
    height: 160px;
    background-color: var(--macaroni-and-cheese);
    margin: 10px;
}

.category-list {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    width: 1160px;
    list-style-type: none;
}



.slider-about {
    width: 479px;  
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: 0.2px;
    text-align: left;
    color: #464646;
    margin-top: 38px;
    margin-bottom: 60px;
}

.item-link {
    width: 133px;
    font-family: 'gilroyextrabold';
    font-size: 18px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 3.6px;
    text-align: center;
    color: var(--black);
    text-decoration: none;
    position: relative;
    z-index: 2;
    padding-left: 43px;
    margin-bottom: 70px;
}

.item-link::before {
    content: "";

    position: absolute;
    top: 6px;
    left: 0;
    width: 220px;
    height: 8px;
    z-index: -1;  
    
    background-image: url("../img/Layer 7.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    
    object-fit: contain;
}

.item-options {
    width: 79px;
    font-family: 'gilroylight';
    font-size: 36px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0.4px;
    text-align: left;
    color: var(--black);
}

.item-options1 {
    width: 78px;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.54;
    letter-spacing: 0.1px;
    text-align: left;
    color: #464646;
}

.main-slider {
    display: flex;
    justify-content: space-between;
    min-height: 500px; 
}

.main-slider-1 {
    display: none;
}

.main-slider-2 {
    display: none;
}


.slider {
    width: 545px;
}

.slider-description {
    width: 460px;
    padding-right: 0;
    padding-left: 100px;
    margin-right: 0;
    margin-left: 580px; 
    position: relative;
    top: -80px;
}

.slider-description-1 {
    width: 460px;
    padding-right: 0;
    padding-left: 100px;
    margin-right: 0;
    margin-left: 580px; 
    position: relative;
    top: -80px;
}

.slider-description-2 {
    width: 460px;
    padding-right: 0;
    padding-left: 100px;
    margin-right: 0;
    margin-left: 580px; 
    position: relative;
    top: -80px;
}

.slider-description::before {
    content: "";

    position: absolute;
    top: -40px;
    left: 450px;
    width: 160px;
    height: 120px;
    z-index: 3;  
    
    background-image: url("../img/01.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    
    object-fit: contain;
}

.slider-description-1::before {
    content: "";

    position: absolute;
    top: -40px;
    left: 450px;
    width: 200px;
    height: 120px;
    z-index: 3;  
    
    background-image: url("../img/02.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    
    object-fit: contain;
}

.slider-description-2::before {
    content: "";

    position: absolute;
    top: -40px;
    left: 450px;
    width: 200px;
    height: 120px;
    z-index: 0;  
    
    background-image: url("../img/03.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    
    object-fit: contain;
}

.slider-check {
    margin-left: 15px;
    padding-right: 0;
}

.slider-check-container {
    padding-right: 0;
    margin-right: 50px;
    margin-left: 440px;
    width: 120px;
    bottom: 165px;
    position: absolute;
}

.item-header {
    width: 520px;
    z-index: 10;
}

.delivery-header {
    width: 217px;
    font-family: 'gilroyextrabold';
    font-size: 47px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.02;
    letter-spacing: 0.5px;
    text-align: left;
    color: var(--black);
    
}

.delivery-how {
    width: 456px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: 0.2px;
    text-align: left;
    color: #464646;
}

.sidebar {
    display: flex;
    justify-content: space-around;
    margin-top: 250px;
    background-color: #e5e5e5;
    width: 1440px;
    z-index: 10;
}

.delivery-link {
    width: 300px;
    padding-bottom: 50px;
    position: relative;
    z-index: 2;
    text-align: left;
    left: 10px;

}

.warranty-link {
    width: 300px;
    padding-bottom: 50px;
    position: relative;
    z-index: 2;
    text-align: left;
    left: 10px;
}

.credit-link {
    width: 300px;
    padding-bottom: 50px;
    position: relative;
    z-index: 2;
    text-align: left;
    left: 10px;
}

.delivery-link::before {
    content: "";
    
    position: absolute;
    top: 6px;
    left: -20px;
    width: 160px;
    height: 8px;
    z-index: -1;  
    
    background-image: url("../img/Layer 7 copy 2.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    
    object-fit: contain;
}

.delivery-link:hover:after {
    display: block;
}

.delivery-link::after {
    content: "";
    
    display: none;
    position: absolute;
    top: -10px;
    left: -20px;
    width: 282px;
    height: 40px;
    z-index: -1;  
    
    background-image: url("../img/Layer 7 copy.png");
   
    background-repeat: no-repeat;
    background-position: 0 0;
    
    object-fit: contain;
}

.warranty-link::before {
    content: "";

    position: absolute;
    top: 6px;
    left: -20px;
    width: 160px;
    height: 8px;
    z-index: -1;  
    
    background-image: url("../img/Layer 7 copy 2.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    
    object-fit: contain;
}

.warranty-link:hover:after  {
    display: block;
}

.warranty-link:hover .warranty-description {
    display: block;
}

.warranty-link::after {
    content: "";
    
    display: none;
    position: absolute;
    top: -10px;
    left: -20px;
    width: 282px;
    height: 40px;
    z-index: -1;  
    
    background-image: url("../img/Layer 7 copy.png");
   
    background-repeat: no-repeat;
    background-position: 0 0;
    
    object-fit: contain;
}

.credit-link::before {
    content: "";

    position: absolute;
    top: 6px;
    left: -20px;
    width: 160px;
    height: 8px;
    z-index: -1;  
    
    background-image: url("../img/Layer 7 copy 2.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    
    object-fit: contain;
}

.credit-link:hover:after  {
    display: block;
}

.credit-link::after {
    content: "";
    
    display: none;
    position: absolute;
    top: -10px;
    left: -20px;
    width: 282px;
    height: 40px;
    z-index: -1;  
    
    background-image: url("../img/Layer 7 copy.png");
   
    background-repeat: no-repeat;
    background-position: 0 0;
    
    object-fit: contain;
}

.delivery-links:hover {
    color: rgb(247, 225, 132)
}

.delivery-description {
    width: 739px;
    margin-bottom: 50px;
    position: relative;
    top: -65px;
    z-index: 10;
    left: -120px;
    
}

.warranty-description {
    display: none;
}

.credit-description {
    width: 739px;
    margin-bottom: 50px;
    position: relative;
    top: -65px;
    z-index: 10;
    left: -120px;
    display: none;
    
}

.delivery-description::after {
    content: "";

    position: absolute;
    top: 50px;
    left: 500px;
    width: 168px;
    height: 165px;
    z-index: 20;
    
    background-image: url("../img/delivery.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    
    object-fit: contain;
}

.warranty-description::after {
    content: "";

    position: absolute;
    top: 27px;
    left: 500px;
    width: 178px;
    height: 195px;
    z-index: 20;
    
    background-image: url("../img/warranty.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    
    object-fit: contain;
}

.credit-description::after {
    content: "";

    position: absolute;
    top: 25px;
    left: 500px;
    width: 200px;
    height: 186px;
    z-index: 20;
    
    background-image: url("../img/credit.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    
    object-fit: contain;
}

.delivery {
    padding-left: 0;
    margin-top: 50px;
    margin-left: 0;
    margin-right: 0;
    position: relative;
    top: -60px;
    text-transform: uppercase;
    position: relative;
    z-index: 35;
}



.delivery::after {
    content: "";

    position: absolute;
    left: 263px;
    top: -96px;
 
    width: 7px;
    height: 319px;

    z-index: 48;  
    background-image:url("../img/Layer 6 copy 2.png");
    background-repeat:no-repeat;
    background-position:0 0;
    
    object-fit: contain;
}

.main-footer {
    display: flex;
    justify-content: space-between;
}

.footer-contacts {
    width: 500px;
    text-align: left;
    padding-top: 68px;
    position: relative;
}

.footer-contacts::after {
    content: "";

    position: absolute;
    left: 0;
    top: 240px;
 
    width: 80px;
    height: 7px;

    z-index: 48;  
    background-image:url("../img/Layer 6 copy 5.png");
    background-repeat:no-repeat;
    background-position:0 0;
    
    object-fit: contain;
}

.services {
    width: 587px;
    font-family: 'gilroyextrabold';
    font-size: 18px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 3.6px;
    text-align: left;
    color: #ffffff;
    text-decoration: none;
    list-style-type: none;
    padding-right: 0;
}

.social-buttons {
    width: 213px;
    text-align: center;
    padding-left: 0;
}

.social-button a {
    text-align: center;
}


.footer-site-navigation a {
    opacity: 0.7;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.4;
    letter-spacing: 0.2px;
    text-align: right;
    color:  #ffffff;
    padding-right: 0;
    text-decoration: none;
} 

.footer-site-navigation {
    width: 325px;
    text-align: right;
    list-style-type: none;
    padding-top: 68px;
}


.footer-site-navigation li {
    list-style-type: none;
}

.filter {
    display: flex;
    justify-content: space-around;
}

.filters {
    width: 240px;
}

.catalog {
    width: 848px;
}    

.bin {
    display: none;
}

.catalog-list-inner {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.item1 .item2 .item3 .item4 {
    width: 360px;
    height: 380px;
    object-fit: contain;
    padding-right: 30px;
}

.item1 a {
    width: 247px;
    height: 16px;
    font-family: 'gilroyextrabold';
    font-size: 18px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0.18px;
    text-align: left;
    color: var(--black);
    text-decoration: none;
    padding: 20px
}

.item2 a {
    width: 225px;
    height: 36px;
    font-family: 'gilroyextrabold';
    font-size: 18px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0.18px;
    text-align: left;
    color: var(--black);
    text-decoration: none;
}

.item3 a {
    width: 252px;
    height: 15px;
    font-family: 'gilroyextrabold';
    font-size: 18px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0.18px;
    text-align: left;
    color: var(--black);
    text-decoration: none;
}

.item4 a {
    width: 225px;
    height: 36px;
    font-family: 'gilroyextrabold';
    font-size: 18px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0.18px;
    text-align: left;
    color: var(--black);
    text-decoration: none;
}

.services {
    display: flex;
    justify-content: space-around;
}


.service-links {
    display: flex;
    justify-content: space-around;
    position: relative;
}

.login-footer::before {
    content: "";

    position: absolute;

    width: 13px;
    height: 13px;
    top: 12px;
    left: 15px;

    background-image: url("../img/user-footer.png");
    background-repeat: no-repeat;
    background-position: 0 0;
        
    object-fit: contain;
}

.login-footer {
    margin-right: 50px;
}

.compare-footer {
    width: 100px;
    margin-right: 35px;
    position: relative;
}

.compare-footer::before {
    content: "";

    position: absolute;

    width: 13px;
    height: 13px;
    top: 14px;
    left: -8px;  

    background-image: url("../img/compare-footer.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    
    object-fit: contain;
}

.bin-footer {
    position: relative;
}

.bin-footer::before {
    content: "";

    position: absolute;

    width: 13px;
    height: 13px;
    bottom: 11px;
    left: 0;

    background-image: url("../img/cart-footer.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    
        
    object-fit: contain;
}

.service-links li {
    width: 100%;
}

.social-buttons li {
    list-style-type: none;
}

.social-buttons {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}



.services-buttons {
    width: 570px;
}

.service {
    color: #ffffff;
}

.footer-container {
    width: 1160px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

.main-container {
    width: 1160px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

.header-container {
    width: 1160px;
    min-height: 299px;
    padding-left: 80px;
    padding-right: 80px;
    margin: 0 auto;
    margin-top: 40px;
    background-color: rgba(247, 225, 132, 1);
      
}



.inner-main-container {
    width: 1100px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto;
}



.services {
    margin-top: 135px;
}

.social-buttons {
    margin-top: 67px;
   
}

.adress {
    margin-top: 25px;
    font-size: 15px;
    }

.phone-number {
    margin-top: 28px;
}

.logoacademy {
    margin-top: 55px;
    display: block;
    width: 325px;
    
}

.slider {
    background-image: url("img/slider-1.png");
    position: absolute;
    left: 100px;
    top: 250px;
    width: 513px;
    height: 486px;
    z-index: 0;
}    

.bigchoice {
    padding-bottom: 25px;
}

.delivery_terms {
    padding-bottom: 90px;
}

.about-us-link {
    width: 260px;
    font-family: 'gilroyextrabold';
    font-size: 18px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 3.6px;
    text-align: center;
    color: var(--black);
    padding-top: 20px;
    padding-right: 0;
    position: relative;
    z-index: 2;
}

.about-us-link::before {
    content: "";

    position: absolute;
    left: 2px;
    top: 26px;
 
    width: 260px;
    height: 8px;
    z-index: -1;
    background-image:url("../img/Layer 7 copy 5.png");
    background-repeat:no-repeat;
    background-position:0 0;
    
    object-fit: contain;
} 

.wrapper-contacts {
    display: flex;
    justify-content: space-between;
    margin-bottom: 92px;
    padding-left: 20px;
    padding-right: 20px;
    width: 1160px;
}

.button-back {
    width: 260px;
    font-family: 'gilroyextrabold';
    font-size: 18px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 3.6px;
    text-align: center;
    color: var(--black);
    position: relative;
    z-index: 2;
}

.button-back::before {
    content: "";

    position: absolute;
    left: 35px;
    top: 6px;
 
    width: 260px;
    height: 8px;
    z-index: -1;
    background-image:url("../img/Layer 7 copy 4.png");
    background-repeat:no-repeat;
    background-position:0 0;
    
    object-fit: contain;
}

td {
    padding: 10px;
}

table {
    margin-top: 50px;
}